In [1]:
import pandas as pd
import numpy as np

In [2]:
# Task 1: Create and display a Pandas Series
data = pd.Series([10, 20, 30, 40, 50])
print("Task 1:")
print(data)

Task 1:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# Task 2: Convert Series to list
lst = data.tolist()
print("\nTask 2:")
print(lst, type(lst))

Task 2:
[10, 20, 30, 40, 50] <class 'list'>

In [4]:
# Task 3: Arithmetic operations on Pandas Series
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 9])
print("\nTask 3:")
print("Addition:", s1 + s2)
print("Subtraction:", s1 - s2)
print("Multiplication:", s1 * s2)
print("Division:", s1 / s2)

Task 3:
Addition: 0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction: 0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication: 0     2
1    12
2    30
3    56
4    90
dtype: int64
Division: 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [5]:
# Task 4: Element-wise power
arr1 = np.array([0, 1, 2, 3, 4, 5, 6])
arr2 = np.array([0, 1, 3, 3, 3, 3, 3])
print("\nTask 4:")
print(np.power(arr1, arr2))

Task 4:
[  1   1   8  27  64 125 216]

In [6]:
# Task 5: Create DataFrame from dictionary
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']  #rows of data
df = pd.DataFrame(exam_data, index=labels)
print("\nTask 5:")
print(df)

Task 5:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [7]:
# Task 6: Basic information about DataFrame
print("\nTask 6:")
print(df.info())

Task 6:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [8]:
# Task 7: First 3 rows
print("\nTask 7:")
print(df.head(3))

Task 7:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [9]:
# Task 8: Select 'name' and 'score' columns
print("\nTask 8:")
print(df[['name', 'score']])

Task 8:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [11]:
# Task 9: Select specific rows and columns
print("\nTask 9:")
print(df.loc[['b', 'd', 'f', 'g'], ['name', 'score']])  #label name , col names

Task 9:
      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

In [12]:
# Task 10: Select rows with attempts > 2
print("\nTask 10:")
print(df[df['attempts'] > 2])

Task 10:
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [14]:
# Task 11: Count rows and columns
print("\nTask 11:")
print(df.shape)#counts rows,col

Task 11:
(10, 4)

In [15]:
# Task 12: Select rows where score is NaN
print("\nTask 12:")
print(df[df['score'].isna()])  #isna detects missing values in df

Task 12:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [16]:
# Task 13: Rows where attempts < 2 and score > 15
print("\nTask 13:")
print(df[(df['attempts'] < 2) & (df['score'] > 15)])

Task 13:
    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [17]:
# Task 14: Change score in row 'd' to 11.5
df.at['d', 'score'] = 11.5
print("\nTask 14:")
print(df)

Task 14:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [18]:
# Task 15: Sum of attempts
print("\nTask 15:")
print(df['attempts'].sum())

Task 15:
19

In [19]:

# Task 16: Mean score
print("\nTask 16:")
print(df['score'].mean())

Task 16:
13.333333333333334

In [21]:
# Task 17: Append a new row and delete it
df.loc['k'] = ['Suresh', 15.5, 1, 'yes']
print("\nTask 17 (After Appending):")
print(df)                   #################problem

Task 17 (After Appending):
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [22]:
# Task 18: Sort by name (desc) and score (asc)
df = df.sort_values(by=['name', 'score'], ascending=[False, True])
print("\nTask 18:")
print(df)

Task 18:
        name  score  attempts qualify
k     Suresh   15.5         1     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

In [23]:
# Task 19: Replace 'yes' and 'no' with True and False
df['qualify'] = df['qualify'].map({'yes': True, 'no': False})
print("\nTask 19:")
print(df)

Task 19:
        name  score  attempts  qualify
k     Suresh   15.5         1     True
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
c  Katherine   16.5         2     True
j      Jonas   19.0         1     True
d      James   11.5         3    False
e      Emily    9.0         2    False
b       Dima    9.0         3    False
a  Anastasia   12.5         1     True

In [24]:
# Task 20: Delete 'attempts' column
df = df.drop(columns=['attempts'])
print("\nTask 20:")
print(df)

Task 20:
        name  score  qualify
k     Suresh   15.5     True
f    Michael   20.0     True
g    Matthew   14.5     True
h      Laura    NaN    False
i      Kevin    8.0    False
c  Katherine   16.5     True
j      Jonas   19.0     True
d      James   11.5    False
e      Emily    9.0    False
b       Dima    9.0    False
a  Anastasia   12.5     True

In [26]:
#21
df["age"]=[20,21,22,23,20,21,20,25,23,20,21]  #inserting a new col
print(df)

        name  score  qualify  age
k     Suresh   15.5     True   20
f    Michael   20.0     True   21
g    Matthew   14.5     True   22
h      Laura    NaN    False   23
i      Kevin    8.0    False   20
c  Katherine   16.5     True   21
j      Jonas   19.0     True   20
d      James   11.5    False   25
e      Emily    9.0    False   23
b       Dima    9.0    False   20
a  Anastasia   12.5     True   21

In [27]:
#22 iterating over rows
for index, row in df.iterrows():
    print(f"Index: {index}, Name: {row['name']}, Score: {row['score']}")

Index: k, Name: Suresh, Score: 15.5
Index: f, Name: Michael, Score: 20.0
Index: g, Name: Matthew, Score: 14.5
Index: h, Name: Laura, Score: nan
Index: i, Name: Kevin, Score: 8.0
Index: c, Name: Katherine, Score: 16.5
Index: j, Name: Jonas, Score: 19.0
Index: d, Name: James, Score: 11.5
Index: e, Name: Emily, Score: 9.0
Index: b, Name: Dima, Score: 9.0
Index: a, Name: Anastasia, Score: 12.5

In [28]:
# 23. Get a list of column headers
column_headers = list(df.columns)
print("\nList of column headers:", column_headers)

List of column headers: ['name', 'score', 'qualify', 'age']